<app-header></app-header>
<div class="min-h-screen flex flex-col justify-center items-center text-white px-4"
     style="background: linear-gradient(to right, #1D3C85 0%, #2E65E7 100%);">
  <h1 class="absolute text-[4rem] md:text-[5rem] lg:text-[30rem] font-bold opacity-10 leading-none z-0">
    403
  </h1>
  <div class="relative z-10 text-center">
    <h2 class="font-roboto font-semibold text-[27px] leading-[20px] text-center mb-8">
      Accès refusé !
    </h2>
    <p class="font-roboto font-normal text-[20px] leading-[28px] text-center max-w-[40rem] mb-6">
      Vous n’avez pas l’autorisation d’accéder à cette page. Si vous pensez qu’il s’agit d’une erreur, veuillez contacter l’équipe support pour obtenir de l’aide.
    </p>
    <div class="flex justify-center">
      <a href="/home"
         class="bg-[#1D3C85] text-white font-roboto font-normal text-[16px] leading-[24px] w-[176px] h-[44px] flex items-center justify-center rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out">
        Retourner à l'accueil
      </a>
    </div>
  </div>
  <div class="absolute bottom-12 w-full flex justify-center">
    <img src="assets/images/error_403.svg" alt="Erreur Image" class="w-full h-auto mb-4">
  </div>
</div>
